@import "../../app.scss";

.contact {
    margin: auto;
    max-width: 1366px;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
        flex-direction: column;
        padding: 20px 10px;
        gap: 30px;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 50px;
        }

        h1 {
            font-size: 4.5rem;
            line-height: 4rem;

            @include mobile {
                font-size: 2.2rem;
                line-height: 2.5rem;
            }

            @media (max-width: 400px) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }

        span {
            font-weight: 300;
            font-size: 1.1rem;

            @media (max-width: 500px) {
                font-size: 0.95rem;
            }
        }
    }

    .formContainer {
        flex: 1;
        position: relative;

        @include mobile {
            width: 100%;
            padding: 30px 10px;
        }

        .phoneSvg {
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;
        }

        svg {
            max-width: 100%;
            height: auto;

            @include mobile {
                width: 280px;
                height: 320px;
                margin-left: 0;
            }

            @media (max-width: 400px) {
                width: 240px;
                height: 280px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            input,
            textarea {
                padding: 18px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                font-size: 1rem;

                @include mobile {
                    padding: 12px;
                    font-size: 0.9rem;
                }
            }

            button {
                padding: 18px;
                border: none;
                background-color: orange;
                font-weight: 600;
                cursor: pointer;
                font-size: 1rem;
                border-radius: 5px;

                @include mobile {
                    padding: 12px;
                    font-size: 0.95rem;
                }
            }
        }
    }
}
