@import "../../app.scss";

.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @include desktop {
            margin-left: 150px;
        }

        @include tablet {
            margin-left: 50px;
            justify-content: space-between;
        }

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;

            @include tablet {
                display: block;
            }

            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 50px;

            @include mobile {
                gap: 17px;
            }

            img {
                width: 28px;
                height: 28px;

                @include mobile {
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
}